<div class="areaC">
    <a href="#" class="btn_area" id="btn_area"> <img src="~/assets/imgs/btn_areaL.png" /></a>
    <div class="areacBox">
        <div class="treeFolder">
            <div class="baseFolder">
                <div class="txt">
                    <p>Shortcut Box > My Content</p>
                </div>
            </div>
        </div>
        <div class="listContent">
            <div class="left">
                <div class="bt_resign">
                    <a href="#" onclick="addnew()" class="btn_add">
                        <span class="add_new"> Add New</span>
                    </a>
                    <a href="#" onclick="createnew()" class="btn_create">
                        <span class="create_new">Create New</span>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="listSearch">
                    <input type="text" placeholder="Content name/owner/search ..." name="name" />
                    <input type="image" class="btnListSearch" src="~/assets/imgs/btn_search.gif" />
                </div>
            </div>
        </div>
        <div class="contentList">
            <ul class="listicon">
                <li><a href="#"><img src="~/assets/imgs/ico_all_on.png" alt="All File" /></a> </li>
                <li><a href="#"><img src="~/assets/imgs/ico_ppt_on.png" alt="PPT File" /></a> </li>
                <li><a href="#"><img src="~/assets/imgs/ico_xlsx_on.png" alt="XLSX File" /></a> </li>
                <li><a href="#"><img src="~/assets/imgs/ico_doc_on.png" alt="DOC File" /></a> </li>
                <li><a href="#"><img src="~/assets/imgs/ico_pdf_on.png" alt="PDF File" /></a> </li>
                <li><a href="#"><img src="~/assets/imgs/ico_img_on.png" alt="IMG File" /></a> </li>
            </ul>
            <table id="tbMainDefault" class="table table-striped table-bordered post-list-table">
                <thead>
                    <tr class="tbheader" style="background-color: rgba(223, 225, 228, 1)">
                        <th class="text-center"><span>File name</span></th>
                        <th>owner</th>
                        <th>Modifier</th>
                        <th>Size</th>
                        <th>Security level</th>
                        <th>Version</th>
                        <th>Modified date</th>
                    </tr>
                </thead>
                @*<tbody></tbody>*@
                <tfoot>
                    <tr>
                        <td><span>File name</span></td>
                        <td>owner</td>
                        <td>Modifier</td>
                        <td>Size</td>
                        <td>Security level</td>
                        <td>Version</td>
                        <td>Modified date</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section ScriptTemplate {
    <script id="main-table-template" type="text/x-handlebars-template">
        {{#each fileInfo}}
        <tr>
            <td class="contentBox">
                <div class="contentTitle">
                    <input type="checkbox" name="name" value="" />
                    <a class="addfavorite" onclick="AddFavorite(this)">
                        <img src="/assets/imgs/ico_fav.png" alt="icon_start" />
                    </a>
                    <a href="/open-content/{{Id}}"
                       class="contentname">
                        {{Name}}
                    </a>
                </div>
            </td>
            <td>
                <p>{{Employee.EpLiteId}}</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>{{FileHistories.Size}} kb</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>{{FileHistories.Version}}</p>
            </td>
            <td>
                <p>{{formatDate FileHistories.ModifiedDate}}</p>
            </td>
        </tr>
        {{/each}}
    </script>
}
