<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECM</title>
    <link href="~/assets/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/libs/DataTables/DataTables-1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/libs/DataTables/DataTables-1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/libs/fontawesome-free-5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    @{Html.RenderPartial("Header");}
    <div class="wrapper">
        <div class="ecmcontent" id="ecmcontent">
            @{Html.RenderPartial("Category");}
            @RenderBody()
            @{Html.RenderPartial("Modal");}
        </div>
    </div>
    @RenderSection("ScriptTemplate", required: false)
    <script src="~/assets/libs/jquery-3.5.1.min.js"></script>
    <script src="~/assets/libs/axios-0.21.1/dist/axios.min.js"></script>
    <script src="~/assets/libs/handlebars.min.js"></script>
    <script src="~/assets/libs/vanilla-router-v.1.2.7/dist/vanilla-router.min.js"></script>
    <script src="~/assets/libs/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/moment.min.js"></script>
    <script src="~/assets/js/config.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/initData.js"></script>
    <script src="~/assets/routes/app.js"></script>
</body>
</html>