<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECM</title>
    @Styles.Render("~/css/style-bundles")
</head>

<body>
    @{Html.RenderPartial("Header");}
    <div class="wrapper">
        <div class="ecmcontent" id="ecmcontent">
            @{Html.RenderPartial("Category");}
            @RenderBody()
            @{Html.RenderPartial("Modal");}
        </div>
    </div>
    @Scripts.Render("~/assets/script-bundles")
</body>
</html>