<div class="areaL">
    <div class="Boxlayout">
        <ul id="tabs">
            <li><a id="tab1">Shortcut</a></li>
            <li><a id="tab2">Content Box</a></li>
        </ul>
        <div class="tab_on" id="tab1C">
            <ul>
                <li>
                    <a href="/">My Content</a>
                </li>
                <li>
                    <a href="/favorites-file">Favorites</a>
                </li>
                <li>
                    <a href="/important-file"><i class="fas fa-info importantside"></i>Important Content</a>
                </li>
                <li>
                    <a href="/shared-file">Contents Shared</a>
                </li>
                <li>
                    <a href="/department-file">My Department</a>
                </li>
                <li>
                    <a href="/trash-content">Trash Content</a>
                </li>
            </ul>
        </div>
        <div class="tab_on" id="tab2C">
            <div class="select02">
                <select>
                    <option selected="selected" id="MenuDept">PoscoVST</option>
                </select>
                <div class="divselecttype">
                </div>
            </div>
            <div class="mycontList">
                <div class="treefdBox">
                </div>
            </div>
        </div>
    </div>
</div>