<div class="areaL">
    <div class="Boxlayout">
        <ul id="tabs">
            <li><a id="tab1">Shortcut</a></li>
            <li><a id="tab2">Content Box</a></li>
        </ul>
        <div class="tab_on" id="tab1C">
            <ul>
                <li>
                    <a href="#">My content</a>
                </li>
                <li>
                    <a href="#">Favorites</a>
                </li>
                <li>
                    <a href="#">Important Content</a>
                </li>
                <li>
                    <a href="#">Contents shared</a>
                </li>
                <li>
                    <a href="#">My Department</a>
                </li>
                <li>
                    <a href="#">Trash Content</a>
                </li>
            </ul>
        </div>
        <div class="tab_on" id="tab2C">
            <div class="select02">
                <select>
                    <option selected="selected" id="MenuDept">PoscoVST </option>
                    <option class="noDept">Trash</option>
                </select>
                <div class="divselecttype">
                </div>
            </div>
            <div class="mycontList">
                <div class="treefdBox">
                    <ol class="sidebar-menu1">
                        <li class="treeview" id="rootFolder">
                            <a href="#">
                                <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" /> Content 1
                            </a>
                            <ol class="treeview-menu">
                                <li id="folder001">
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png"
                                             alt="Folder Image" /> SubFolder
                                    </a>
                                </li>
                                <li id="folder002">
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" /> Level One
                                    </a>
                                    <ul class="treeview-menu">
                                        <li id="folder004">
                                            <a>
                                                <img src="~/assets/imgs/ico_folder_off.png"
                                                     alt="Folder Image" /> Level Two
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />
                                                Level Two
                                            </a>
                                            <ul class="treeview-menu">
                                                <li id="folder005">
                                                    <a href="#">
                                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />
                                                        Level Three
                                                    </a>
                                                </li>
                                                <li id="folder006">
                                                    <a href="#">
                                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />
                                                        Level Three
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="folder003">
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png"
                                             alt="Folder Image" /> Level One
                                    </a>
                                </li>
                            </ol>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />Content 1
                            </a>
                            <ol class="treeview-menu">
                                <li>
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" /> Level
                                        One
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" /> Level
                                        One
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />
                                                Level Two
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" />
                                                Level Two
                                            </a>
                                            <ul class="treeview-menu">
                                                <li>
                                                    <a href="#">
                                                        <img src="~/assets/imgs/ico_folder_off.png"
                                                             alt="Folder Image" /> Level Three
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="~/assets/imgs/ico_folder_off.png"
                                                             alt="Folder Image" /> Level Three
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/assets/imgs/ico_folder_off.png" alt="Folder Image" /> Level
                                        One
                                    </a>
                                </li>
                            </ol>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>