<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="ecmheader">
        <div class="top-left">
            <h1 class="logo">
                <img src="~/assets/imgs/posco-the-great-logo.png" alt="With Posco" />
            </h1>
            <a href="#" class="logo_sys">
                <img src="~/assets/imgs/logo_ecm.png" alt="ECM" />
            </a>
        </div>
        <div class="top-right">
            <div class="username">Nguyen Van A</div>
            <div class="help"> <a href="/"> <img src="~/assets/imgs/ico_help01.png" /></a></div>
            <div class="logout"><a href="/load-single"> <img src="~/assets/imgs/ico_help02.png" /></a></div>
        </div>
    </div>
</div>